# Node modules and logs
node_modules/
*.log

# Build and deployment folders
.vercel

# Environment variables
.env

# Sensitive credentials - NEVER commit to GitHub
PeakModeVitals.md


# country codes for momsatser
moms-satser.md
